[Unit]
Description=Admin WebSocket server
Wants=network.target
Before=network.target network.service

[Service]
Type=simple
ExecStart=/opt/billing/bin/ws-server -c /opt/billing/etc/admin.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
